/*
:Author: Dmitrijs Milajevs
:Contact: dimazest@gmail.com
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.
*/

@import url(html4css1.css);

div.warning {
    background: none repeat scroll 0 0 #FFF7CC;
    margin: 2em;
    padding: 1em;
    border: none;
}

div.formula {
    text-align: center;
}
